<!DOCTYPE html>
<html>
<head>
    <title>Edit Book</title>
</head>
<body>
    <h1>Edit Book</h1>
    <form method="POST" action="{{ url_for('edit_book', id=book.id) }}">
        <label>Title:</label>
        <input type="text" name="title" value="{{ book.title }}" required><br>
        <label>Author:</label>
        <input type="text" name="author" value="{{ book.author }}" required><br>
        <input type="submit" value="Save">
    </form>
    <br>
    <a href="{{ url_for('index') }}">Back to List</a>
</body>
</html>
